header {
  border: 1px solid
}

#imprint-form {
  display: flex;
  border: 1px solid;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px
}

.drug-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.drug-div {
  display: flex;
}

.drug {
  width: 400px;
}