header {
  border: 1px solid
}

#imprint-form {
  display: flex;
  border: 1px solid;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px
}

.drug-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.drug {
  width: 30vw;
}

@media screen and (max-width: 480px) {
  #imprint-form, .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .drug-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .drug {
    width: 75vw;
  }
}